input[type="file"] {
    /* Hide default button */
    display: none;
  }
  
  .custom-file-upload {
    /* Style for custom button */
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(208,244,222);
    color: black;
    cursor: pointer;
    transition: background-color .4s ease;
    width: 140px;
    height: 50px;
    text-align: center;
  }
  
  /* Optional: Style for when button is hovered */
  .custom-file-upload:hover {
    background-color: rgb(184,184,255);
    color:white;
    }

    .contents{
      margin-top: 200px;
    }